<h1>Resume</h1>

<h3>Objective</h3>
<p>TODO</p>

<h3>Eduction</h3>
<ul>
  <% @schools.each do |school| %>
    <li><%= school.name %></li>
  <% end %>
</ul>

<h3>Work</h3>
<ul>
  <% @jobs.each do |job| %>
    <li><%= job.company %></li>
  <% end %>
</ul>

<h3>Projects</h3>
<ul>
  <% @projects.each do |project| %>
    <li><%= link_to project.name, project_path(id: project.id) %></li>
    <p><%= project.long_description %></p>
  <% end %>
</ul>

<h3>Skills</h3>
<ul>
  <% @skills.each do |skill| %>
    <li><%= skill.name %></li>
  <% end %>
</ul>