<h1 class="page-title">Projects</h1>

<ul>
  <% @projects.each do |project| %>
    <div class="project-content">
      <li>
        <%= link_to project.name, project_path(id: project.id), class: "project-post-link" %>
      </li>
      <p>
        <%= project.long_description %>
      </p>
      <% project.photos.each_with_index do |photo, index| %>
        <div class="project-photo" id="project-photo-<%=index%>">
          <img class="small-project-img" id="small-project-img-<%=index%>" src=<%= photo.get_path %> height="60" width="60">
        </div>
      <% end %>
    </div>
  <% end %>
</ul>