<div class="row title-row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    
    <h1 class="page-title">
      <%= link_to "Projects", projects_path, class: "project-post-title-link" %>
    </h1>
  </div>
  <div class="col-sm-9 col-md-9 col-lg-9"></div>
</div>

<% if @layout_index == "1" %>
  <%= render 'title',         project: @project %>
  <%= render 'detail_1',      project: @project %>
<% elsif @layout_index == "2" %>
  <%= render 'title',         project: @project %>
  <%= render 'detail_2',      project: @project %>
<% end %>

