<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="initials" href="<%= url_for(:controller => "users", :action => "user_landing") %>">
        <div class="first-initial"><%= @observed_initials[0] %></div>
        <div class="second-initial"><%= @observed_initials[1] %></div>
      </a>
      <a class="navbar-brand" href="<%= url_for(:controller => "users", :action => "user_landing") %>"><%= @observed_user.name %></a>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="<%= url_for(:controller => "users", :action => "about_me") %>">About</a>
          <hr />
        </li>
        <li>
          <a href="<%= projects_path %>">Projects</a>
          <hr />
        </li>
        <li>
          <a href="<%= posts_path %>">Blog</a>
          <hr />
        </li>
        <li>
          <a href="<%= skills_path %>">Skills</a>
          <hr />
        </li>
        <li>
          <a href="<%= url_for(:controller => "users", :action => "resume") %>">Resume</a>
          <hr />
        </li>
        <li>
          <a href="<%= photos_path %>">Photos</a>
          <hr />
        </li>
        <li>
          <a href="<%= links_path %>">Links</a>
          <hr />
        </li>
        <li>
          <a href="#">TEST</a>
          <ul class="dropdown-menu">
              <li><a href="#">Inbox</a></li>
              <li><a href="#">Drafts</a></li>
              <li><a href="#">Sent Items</a></li>
              <li class="divider"></li>
              <li><a href="#">Trash</a></li>
          </ul>
          <hr />
        </li>

      </ul>
    </div><!--/.nav-collapse -->

  </div>
</nav>